<!DOCTYPE html>
<html lang="en" class="home">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Pages</title>

	<link rel="stylesheet" href="design2.css" />

	<!--<script src="https://unpkg.com/@neodrag/vanilla@latest/dist/umd/index.js"></script>-->
</head>
<body>

	<div class="editor" v-scope @vue:mounted="mounted">
		<div class="ui">
			<!--<panel :todo="item"></panel>-->
			<div>
				<p>{{ count }}</p>
				<p>{{ plusOne }}</p>
				<button @click="increment">increment</button>
				<button @click="del">del</button>
			</div>

			<!--<div class="panel" v-draggable>
				<nav class="handle">
					<h2>{{ title }}</h2>
				</nav>
				<div class="tabs">
					<details name="panel-1" :open="tab.open" v-for="tab in tabs">
						<summary>{{ tab.title }}</summary>
						<div class="tab-content">{{ tab.content }}</div>
					</details>
				</div>
			</div>
			-->
			<!--
			<div class="panel">
				<nav class="handle">
					<h2>Panel title</h2>
				</nav>
				<div class="tabs">
					<details name="panel-2" open>
						<summary>Type</summary>
						<div class="tab-content">ABC</div>
					</details>
					<details name="panel-2">
						<summary>Transform</summary>
						<div class="tab-content">123</div>
					</details>
				</div>
			</div>
			-->
		</div>

<!--<div v-scope="Page({ initialCount: 1 })" @vue:mounted="mounted">
  <p>{{ count }}</p>
  <button @click="inc">ababababa</button>
</div>-->

		<ol class="doc">
			<li class="page" v-for="(page, index) in pages" :key="index" @vue:mounted="mounted" @vue:unmounted="console.log('unmounted: ', $el)">
				<div class="page-content">
					<p lang="en">Any browser that supports HEVC video will play the spatial video file as 2D video on the webpage. In visionOS, Safari 18.2 provides UI alongside the rest of the video controls to allow users to tap to view the video spatially. On first tap, the video appears in a float</p>
				</div>
				<div class="page-ui">
					{{ page.id }} / {{ page.order }}
					<button @click="del(index)">Delete Page</button>
				</div>
			</li>
		</ol>
	</div>

	<script type="module">
		import { createApp, reactive } from 'https://unpkg.com/petite-vue?module'
		import { vDraggable } from 'https://cdn.jsdelivr.net/npm/@neodrag/vue@2.2.0/+esm';

		const panels = [];

		const tabs = [
			{ title: 'x', content: '1', open: true },
			{ title: 'y', content: '2', open: false },
		];

		const store = reactive({
			count: 0,
			ui: [],
			documents: [],
			currentDocument: null,
			inc() {
				this.count++
			}
		});

		// manipulate it here
		store.inc();

		// page component
		function Page (props) {
			return {
				id: null,
				order: null,
				count: props.initialCount,
				delete() {
					console.log('PageObject delete method');
				},
				mounted() {
					console.log('Page mounted!', props);
				}
			}
		}

		const x = createApp({
			Page
		});
		x.id = 1;
		x.order = 1;

		createApp({
			// exposed to all expressions
			pages: [x],
			count: 2,
			// getters
			get plusOne() {
				return store.count;
			},
			mounted() {
				console.log('Editor mounted!');
			},
			// methods
			increment() {
				// store.count += 1;
				// store.inc();
				// this.count += 1;

				const newPage = createApp({
					Page
				});
				newPage.id = this.count++;
				this.pages.push(newPage);
				console.log(this.pages);
			},
			del(index) {
				console.log('deleted page', index+1);
				console.log('page id', this.pages[index].id);
				this.pages.splice(index, 1);
				//const target_copy = Object.assign({}, props);
				//console.log('delete 2', target_copy.id);
			}
		}).mount('.editor');
	</script>

</body>
</html>
